@import '../../../app/index.scss';

.typography {
    &--normal {
        font-weight: $regular;
    }

    &--semibold {
        font-weight: $medium;
    }

    &--h1 {
        font-size: $margin_medium;
    }

    &--p {
        font-size: $medium_size;

        @media (min-width:280px) {
            font-size: $rounded;
        }
    }
}