@import '../../app/index.scss';

.overlay {
    position: fixed;
    top: $zero;
    left: $zero;
    right: $zero;
    bottom: $zero;
    width: 100%;
    z-index: 1000;
    background-color: rgba($black, .8);

    @media (min-width:280px) {
        display: none;
    }

    @media (min-width:576px) {
        display: block;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: $padding_big;
    background-color: $white;
    border-radius: $rounded;

    @media (min-width:280px) {
        display: none;
    }

    @media (min-width:576px) {
        display: block;
    }

    &--inner {
        @include inner_styles;

        @media (min-width:576px) {
            display: flex;
            gap: $gap;
        }
    }

    .icon {
        @include icon_styles;
        position: absolute;
        top: 10%;
        right: 3%;
    }

    .rename {
        margin-top: $rounded;

        &--inputs {
            margin-bottom: $rounded;
            margin-top: $rounded;
            @include inner_styles;

            @media (min-width:576px) {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: $gap;
            }

            @media (min-width:1024px) {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
}