$white: #fff;
$black: #333;
$light_black: #444;
$gray: #ccc;
$light_gray: #f8f8f8;

// Colors

$zero: 0;
$one: 1;
$gap: 10px;
$small: 12px;
$btn_small_size: 14px;
$btn_big_size: 16px;
$rounded: 20px;
$medium_size: 24px;
$margin_medium: 40px;
$padding_big: 60px;

//Sizes

$regular: 400;
$medium: 600;
$bold: 700;

// Weights

@mixin header_styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin words_styles {
  .words {
    margin-top: $margin_medium;
    margin-bottom: $regular;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: $rounded;
  }
}

@mixin inner_styles {
  @include header_styles;
  gap: $rounded;
}

@mixin icon_styles {
  cursor: pointer;
  height: $medium_size;
  opacity: 100%;

  &:hover {
    opacity: 70%;
  }
}

@mixin word_styles {
  .word {
    border-radius: $rounded;
    padding: $zero $padding_big;
    background-color: $gray;
    gap: $rounded;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &--inner {
      @include inner_styles;
    }

    .icons {
      @include inner_styles;
    }

    .icon {
      @include icon_styles;
    }

  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: $regular;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $black;
  text-decoration: inherit;

  &:hover {
    color: $light_black;
  }
}


body {
  margin: 0;
  min-height: 100vh;
}