@import '../../../app/index.scss';

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: $bold;
  border: $zero;
  border-radius: $rounded;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &--primary {
    color: $white;
    background-color: $black;
    transition: all;

    &:hover {
      background-color: $light_black;
    }
  }

  &--secondary {
    color: $black;
    background-color: transparent;
    border: 1px solid $black;
    transition: all;

    &:hover {
      background: $light_gray;
    }
  }

  &--small {
    font-size: $small;
    padding: $gap $btn_big_size;
  }

  &--large {
    font-size: $btn_big_size;
    padding: $btn_small_size $padding_big;
  }
}