@import '../../../app/index.scss';

.input {
    border: $zero;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: $rounded $padding_big;
    outline: none;
    font-size: $btn_big_size;
    border-radius: $gap;

    @media (min-width:280px) {
        padding: $btn_small_size $btn_big_size;
    }
}