@import '../../../app/index.scss';

.layout {
    @media (min-width:280px) {
        padding: $rounded $gap;
    }

    @media (min-width:576px) {
        padding: $gap;
    }

    @media (min-width:1228px) {
        padding: $zero $padding_big;
    }
}